// HERO UNIT
// ---------

.hero-unit {
  #gradient > .directional(@heroUnitBackground, @heroUnitBackground, darken(@heroUnitBackground, 3%));
  padding: 20px 20px 10px 20px;
  .border-radius(6px);
  border-top: 4px solid darken(@heroUnitBackground, 10%);
  margin: 8px 0 10px 0;



  h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    color: @heroUnitHeadingColor;
    letter-spacing: -1px;
  }

  h2 {
    margin: 0;
	font-size: 20px;
    color: @heroUnitHeadingColor;
    font-weight: normal;
  }

  p {
    font-size: 18px;
    font-weight: 200;
    line-height: @baseLineHeight * 1.5;
    color: @heroUnitLeadColor;
  }
}
