<h4 class="paragraph-header"><span class="step-label">Step 1</span> Connect your Twitter account</h4>
<div class="step">
  <p><strong>Connected:</strong> <a href="http://www.twitter.com/bizo" target="_blank">@bizo</a></p>
</div>

<h4 class="paragraph-header"><span class="step-label">Step 2</span> Add Easy Share to Chrome</h4>
<div class="step">
  <p>Display your bookmarks bar (if hidden) by clicking <strong>Wrench Icon > Bookmarks > Show Bookmarks Bar</strong></p>
  <button class="btn btn-success"><i class="icon-arrow-up icon-white"></i> Drag me to your bookmarks bar</button>
</div>

<h4 class="paragraph-header"><span class="step-label">Step 3</span> Share links with your social audience</h4>
<div class="step">
  <p>Click the Easy Share bookmark in your bookmarks bar to share the page you're viewing with your social followers.</p>
  <p>The <abbr class="initialism">URL</abbr> will be automatically shortened and added to your <a href="#">SmartLinks</a> report.</p>
</div>