.bookmarklet {
  @width: 350px;
  @height: 180px;
  @menuColor: @blueLight;
  @popupMenuColor: darken(@grayLighter, 5%);
  @popupPadding: 6px 0;

  position: fixed;
  bottom: 0;
  right: 0;
  width: @width;
  height: @height;
  padding: 5px 10px;
  background: @white;
  border: 1px solid @grayLight;
  .box-shadow(0 0 5px rgba(0,0,0,.3));

  h4 {
    margin: 0 0 5px;
  }

  hr {
    margin: 0 0 10px;
    padding: 0;
  }

  textarea, input {
    .invisible-form-field(@white);
  }

  textarea {
    width: 100%;
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .popup-controls {
      padding: @popupPadding;
      background: @popupMenuColor;
      text-align: center;

      .control-item {
        display: none;
        margin: 0 auto;
        text-align: center;

        &.active  {
          display: block;
        }
      }

    }

    .menu-controls {
      .two-tone-border(rgba(0,0,0,.12), rgba(255,255,255,0.3));
      padding: 4px 4px 0 4px;
      background: @menuColor;
    }

    .btn-toolbar {
      margin: 0;
      padding: 0;

      .btn {
        background: transparent;
        #gradient > .vertical(rgba(255,255,255,.2), rgba(0,0,0,.1));

        &.active {
          .box-shadow(inset 0 2px 8px rgba(0,0,0,.5));
        }
      }
    }
  }
}
