/* 
used for drawing colored circles in css (useful for chart legends and such)
 */

.with-colored-circles(@diameter) {
  #shapes > .circle(@diameter, transparent);
  border: 2px solid #888;

  &.blue {
    #shapes > .circle(@diameter, @blue);
    border: 2px solid @blue;
  }

  &.red {
    #shapes > .circle(@diameter, @bizored);
    background: @bizored;
    border: 2px solid @bizored;
  }

  &.green {
    #shapes > .circle(@diameter, @bizogreen);
    border: 2px solid @bizogreen;
  }
}

.legend-circle {
  display: inline-block;
  .with-colored-circles(20px);
}


.circle-btn {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;        
  margin-right: 20px;
  @diameter: 35px;
  @iconWidth: 14px;

  .with-colored-circles(@diameter);
  .transition(border-color 0.5s);

  &.active {
    background: darken(@blue, 20%);
    border-color: darken(@blue, 20%);
  }

  &:hover {
    border-color: @blue;

    &.active, &.blue {
      border-color: darken(@blue, 30%);
    }

    &.warning {
        border-color: @orange;
      }
  }

  // center icons
  [class^="icon-"],[class*=" icon-"] {
    position: absolute;
    top: @diameter / 2 - @iconWidth / 2 - 1px;
    left: @diameter / 2 - @iconWidth / 2 - 1px;
  }
}
