// Help.less
// Styles for inline help on Forms 
// -----------------------------------------------------------------

@helpAnimationDuration: 0.25s;

.controls > .icon-question-sign {
  opacity: 0;
  display: inline-block;
  position: relative;
  .transition(opacity @helpAnimationDuration);
}

.control-group input:focus + .icon-question-sign {
  opacity: 1;
  .transition(opacity @helpAnimationDuration);
}

.controls > .icon-question-sign {
  position: relative;
}

.controls > .icon-question-sign > .popover {
  display: block;
  top: 12px;
  left: -9999999px; /* have to hide as transitions don't work with display property */
  opacity: 0;
  .transition(opacity @helpAnimationDuration);
}

.controls > .icon-question-sign:hover > .popover {
  opacity: 1;
  left: -140px; /* width is 280px */
  .transition(opacity @helpAnimationDuration);
}

.help .popover-inner {
  background: darken(@blueLight, 12%);
}

.help.popover.bottom .arrow {
  border-bottom: 5px solid darken(@blueLight, 12%);
}


.help .popover-title {
  background: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.help .popover-content {
  #gradient > .vertical(#fff, @blueLight);
}
