// Landing
// -------

.landing {
  position:fixed;
  top:50%;
  margin-top: -250px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 100px;
  background-color:@white;
}

.rightcolumn {
  padding-top: 1px;
}