// Landing
// -------

body.login {
  @landingHeight: 500px;
  @containerWidth: 940px;
  @paddingOffset: 40px;
  @offset: @gridColumnWidth;

  border-top: 3px solid @blue;

  .container {
    width: @containerWidth;
    margin-top: 80px;
    padding: 0;
    background-color: @white;

    .rightcolumn {
      padding: 0 0 0 @paddingOffset;
      border-left: 1px solid @grayLighter;
    }

    .add-on {
      @transition: background 0.5s;
      .transition(@transition);

      &.active {
        border: none;
        .box-shadow(none);
        background: lighten(#007eff, 20%);
        .transition(@transition);
      }
    }
  }

  .logo-container {
    width: @containerWidth;
    margin: 0 auto;
    padding-top: 20px;
    img {

    }
  }
}
