.navbar {
  btn { color: @white;}
  .navbar-text {
    @elementHeight: 10px;
    padding: 16px 8px 0px;
    line-height: 19px;
  	color: @navbarLinkColor;
  }
}

.navbar-inner {
  .border-radius(0px);
  padding-right: 0px;  
}

