// NAVIGATIONS Overrides
// -----------

.subnav {
  border: 1px solid @grayMedium;

  li a {
    color: @grayDark;
    &:hover {
      color: @blue;
    }
  }
}

.left-nav {
  background:  white;
  padding: 8px 0px 10px 0px;
  border: 1px solid @grayMedium;
  border-radius:  6px;
  li a {
    color: @navbarLinkColor;
	&:hover {
	  color: @navbarLinkColorHover;
    }
  }
}