//Report Metrics
.report-metrics {
  margin-left:-24px;
  margin-top:5px;
}

li.metric-unit {
  display:inline-block;
  margin: 10px 60px 0px 0px;
  span .label {
  text-transform: uppercase;
  }
}

.metric {
  font-size:32px;
  font-weight:bold;
  margin-top:8px;
  &-medium {
    font-size:18px;
	font-weight:bold;
  }
  a {
    color:@grayDark;
	text-decoration:none;
  }
}

.sub-item {
  font-size:16px;
  font-weight:normal;
}

li.link-attribute {
  display:inline-block;
  font-size:12px;
  vertical-align:middle;
  margin-right:20px;
}

.unselected-label {
  font-size: @baseFontSize * .846;
  font-weight: bold;
  line-height: 14px; // ensure proper line-height if floated
  color: @grayDark;
  vertical-align: baseline;
  white-space: nowrap;
  text-transform: uppercase;
}