.tree-select, .tree-select ul {
  margin-left: 0;
  list-style: none;
}

.tree-select {
  label.checkbox {
    display:inline-block
  }

  ul {
    li {
      padding-left: 18px;
      &.empty {
        padding-left: 36px;
      }
    }
  }

  p.inline {
    display:inline
  }
}
