// Horizontal rules
hr {
  margin: @baseLineHeight 0;
  border: 0;
  border-top: 1px solid @hrBorderTop;
  border-bottom: 1px solid @hrBorderBottom;
}

hr.dashed {
  border:dashed thin #EEE;
}


// Used for headers on section pages
h1.section-header {
  margin-bottom: 15px;
  color: @bizodarkblue;
  font-weight: bold;

  small {
    color: @blueFaded;
    font-style: italic;
    display: block;
    letter-spacing: -1px;
  }
  
}

.cent {
  text-align: center;
}

.vert-space {
  margin-top: 8px;
}

.paragraph-header {
  margin-bottom: 8px;
}

// Titles with Blue gradient backgrounds
h1.section-header-heavy {
  padding: 30px 20px 0 20px;
  margin-bottom: 20px;
  min-height: 100px;
  color: @teal;
  font-weight: bold;
  #gradient > .vertical(@sectionHeaderBackground, @white);
  .border-radius(8px);

  small {
    color: @blueFaded;
    font-style: italic;
    display: block;
    letter-spacing: -1px;
  }
  
}

// Footer
.footer {
  margin-top: -15px;
  color: @grayLight;
    a {
	  color: @grayLight;
	  &:hover {
	    color: @bizolightblue;
	  }
	}
}

// Step by step instructions
.step {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 8px;
	> span {
      color: @white;
	  text-shadow: 0 1px 0 rgba(0,0,0,.25);
	  background-color: @grayLight;  
	  padding: 1px 5px 1px 5px;
	  margin-right: 5px;
	  .border-radius(5px);
	}
  }
  > div {
    padding: 0 0 0 15px;
    margin: 0 0 @baseLineHeight 10px;
    border-left: 1px dashed @grayLight;
  }
}

.remove-ad-variation {
  margin-top: 45px
}

//BMP Homepage Header
div.home-header {
  h1.section-header {
    margin-bottom: 0px;
  }
  p {
    color:@teal;
	font-size: 16px;
	margin-top: -4px;
  }
}

//Lede
.lede {
  font-size: 16px;
  font-style: italic;
  color: @gray;
}

// Colors
.success {
  color:@successText;
}

.important {
  color:@errorText;
}

.warning {
  color:@orange;
}

.info {
  color:@infoText;
}

.inverse {
  color:@grayDark;
}

.bizogreen {
  color:@bizogreen;
}

.bizodarkblue {
  color:@bizodarkblue;
}

.bizolightblue {
  color:@bizolightblue;
}

.bizored {
  color:@bizored;
}