// Variables.less
// Bizo themed overrides to the "vanilla" boostrap colors 
// -----------------------------------------------------


// Bizo Color Overrides
// -------------------------
@blue:                  #00a5dc;
@blueDark:              #00688d;
@blueLight:             #d1e6eb;
@blueGreenDark:         #1b3d46;

// Extra Colors 
// -------------------------
@grayMedium:  #ccc;


// Scaffolding 
// -------------------------
@bodyBackground:         @blueLight;

// Hr border color
// -------------------------
@hrBorderTop:    rgba(0,0,0,.1);
@hrBorderBottom: rgba(255,255,255,.2);

// NavBar
// -------------------------
@navbarBackground:            @blueGreenDark;
@navbarText:                  @blueDark;
@navbarLinkColor:             @blueLight;
@navbarBackgroundHighlight:   lighten(@blueGreenDark, 5%); 


@bizoLogosPath: "../img/logo.png";


