// Variables.less
// Bizo themed overrides to the "vanilla" boostrap colors 
// -----------------------------------------------------


// Bizo Color Overrides
// -------------------------
@blue:                  #00a5dc;
@blueDark:              #00688d;
@blueLight:             #d1e6eb;
@blueGreenDark:         #1b3d46;
@bizodarkblue:			#006386;
@bizolightblue:			#0095D5;
@bizored:				#E82529;
@bizogreen:				#A6D379;

// Extra Colors 
// -------------------------
@grayMedium:  #ccc;


// Scaffolding 
// -------------------------
@bodyBackground:         @blueLight;

// Hr border color
// -------------------------
@hrBorderTop:    rgba(0,0,0,.1);
@hrBorderBottom: rgba(255,255,255,.2);

// NavBar
// -------------------------
@navbarBackground:            @white;
@navbarText:                  #333;
@navbarLinkColor:             @bizolightblue;
@navbarLinkColorHover:        @bizodarkblue;
@navbarBackgroundHighlight:   #f2f2f2; 
@navbarHeight:				  40px;


@bizoLogosPath: "../img/logo.png";


