// Variables.less
// Bizo themed overrides to the "vanilla" boostrap colors 
// -----------------------------------------------------

// Bizo Color Overrides
// -------------------------
@blue:                  #00a5dc;
@blueDark:              #00688d;
@blueLight:             #d1e6eb;
@blueGreenDark:         #1b3d46;



// Scaffolding 
// -------------------------
@bodyBackground:         @blueLight;


// NavBar
// -------------------------
@navbarBackground:            @blueGreenDark;
@navbarText:                  @blueDark;
@navbarLinkColor:             @blueLight;
@navbarBackgroundHighlight:   lighten(@blueGreenDark, 5%); 





