.span-funnel {
  max-width: 432px + 20px;
}

.funnel {
  width: 432px;
  position: relative;

  .top, .middle, .bottom {
    margin: 0 auto 30px;
    .transition(opacity 1s);
    opacity: 1;

    &.faded {
      opacity: 0.2;
    }

    &.active {
      opacity: 1;
    }
  }

  .top {
    margin-top: 80px;
    width: 432px;
    height: 192px;
    background: url("../img/funnel/funnel-top.png");
  }

  .middle {
    width: 280px;
    height: 124px;
    background: url("../img/funnel/funnel-mid.png");
  }

  .bottom {
    width: 176px;
    height: 79px;
    background: url("../img/funnel/funnel-bottom.png");
  }
}

.bars {
  cursor: pointer;

  .caption {
    margin-top: 15px;
    opacity: 0;
    .transition(opacity 0.5s);
  }

  &:hover .caption {
    opacity: 1;
  }

  h3 {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 30px;
  }



  .emphasis {
    font-weight: bold;
  }

  p {
    margin-bottom: 10px;
  }


  .badge {
    display: block;
    margin: 20px auto 0;
    max-width: 100px;
    padding: 3px 0;
  }
  
  &.blue {
    .vertical-bar, .circle-icon, .badge {
      background: #00a4df;
    }

    .label, .emphasis {
      color: #00a4df;
    }
  }

  &.teal {
    .vertical-bar, .circle-icon, .badge {
      background: #00c7df;
    }

    .label, .emphasis {
      color: #00c7df;
    }
  }

  &.green, .emphasis {
    .vertical-bar, .circle-icon, .badge {
      background: #82cc39;
    }

    .label, .emphasis {
      color: #82cc39;
    }
  }

}

.vertical-bar-container {
  @diameter: 40px;
  @barHeight: round(@diameter / 3);
  @primaryBarHeight: round(@diameter / 2.5);
  @totalHeight:  @barHeight + @primaryBarHeight;
  @barOffset: round((@diameter - @totalHeight) / 2);

  position: relative; 
  width: 100%;
  height: @diameter;

  .vertical-bar {
    position: absolute;
    height: @barHeight;
    width: 0%;
    top: @barOffset;
    left: @diameter/2;
    z-index: 1;
    bottom: 0;
    opacity: 0.4;

    .transition(width 1s);

    &.primary {
      height: @primaryBarHeight;
      top: @barOffset + @barHeight;
      left: @diameter/2;
      opacity: 1;
    }

    &.delayed-1s {
      #animation > .delay(1s);
    }

    &.delayed-025s {
      #animation > .delay(0.25s);
    }

    &.delayed-05s {
      #animation > .delay(0.5s);
    }
  }

  .circle-icon {
    position: absolute;
    border: 2px solid #fff;
    z-index: 2;
    #shapes > .circle(@diameter, @blue);
    .box-shadow(0 1px 2px rgba(0,0,0,.2));

    [class^="icon-"],
    [class*=" icon-"] {
      display: block;
      color: #fff;
      font-size: @diameter / 2;
      line-height: @diameter;
      text-align: center;
    }
  }



  .label {
    background: transparent;
    text-shadow: none;
    color: #333;
    position: absolute;
    left: -50px;
    bottom: 0;
    opacity: 0.4;
    line-height: @diameter;

    &.primary {
      left: auto;
      right: -60px;
      opacity: 1;
    }
  }


  
}



