<!DOCTYPE HTML>
<html>
  <head>
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- JavaScript for widgets & charts  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://media.bizo.com/bizstrap/js/bootstrap.min.js"></script>
    <script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
    <script src="https://raw.github.com/jcarver989/raphy-charts/master/compiled/charts.min.js"></script>
    <script src="https://raw.github.com/jcarver989/codify/master/dist/codify.min.js"></script>
    <script src="../assets/js/codify.js"></script>
    <script src="../assets/js/google-code-prettify/prettify.js"></script>

    <title>{{ page.title }}</title>
  </head>

  <body class="bizo-app documentation">
    {% include navigation.html %} 
   
    <div class="container center">
      <div class="row-fluid">
        <!-- Main Content  -->
        <div class="span12">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>

